<<<<<<< HEAD
=======
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Spartan", sans-serif; */
}

>>>>>>> d9c376c1afe6ae0e49ae5e60e79b2b4c379cadf6
.wrapper,
.profile-wrapper {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(66, 156, 161, 0.4)
    ),
    url("../../assets/img/fitness-gym-girl-nb-1920x1080.jpg");
  height: 817px;
  padding-top: 300px;
}
.profile-wrapper,
form {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(66, 156, 161, 0.4)
    ),
    url("../../assets/img/52ec5f76e2a79ad25c1f507aa6ff74e3.jpg");
}
.wrapper {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(66, 156, 161, 0.4)
    ),
    url(http://localhost:3000/static/media/fitness-gym-girl-nb-1920x1080.a2339aacf168ae16dc43.jpg);
  box-sizing: border-box;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 817px;
  line-height: 24px;
  padding-top: 300px;
  text-align: left;
}
.jumbotron-home {
  margin: auto;
  width: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border: 10px double white;
  outline: 8px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 0px 90px black;
}
.jumbotron-home h1 {
  text-decoration: none;
  color: rgba(252, 139, 0, 0.5);
  font: 5em Notable;
}
.jumbotron-home h2 {
  font: 1.8em Notable;
  color: #429ca1;
  letter-spacing: 3px;
}
.stroke-home {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fc8b00;
}
<<<<<<< HEAD
=======
.cta-contain {
  margin: 3em auto;
  width: fit-content;
}


.stroke-home {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fc8b00;
}

>>>>>>> d9c376c1afe6ae0e49ae5e60e79b2b4c379cadf6
.cta-contain {
  margin: 3em auto;
  width: fit-content;
}
<<<<<<< HEAD
=======

>>>>>>> d9c376c1afe6ae0e49ae5e60e79b2b4c379cadf6
.cta-contain button {
  padding: 10px;
  font: 1em Notable;
  background: #429ca1;
  color: white;
  border: none;
  box-shadow: 10px 0px 30px black;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: initial;
  background-image: linear-gradient(161.15deg, #28a2b6 12.73%, #4cb879 72.95%);
}
footer {
  background-color: initial;
  background-image: linear-gradient(161.15deg, #28a2b6 12.73%, #4cb879 72.95%);
}
form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(253, 230, 138),
    rgb(167, 243, 208),
    rgb(16, 185, 129)
  );
}
div.card-body {
  text-align: initial;
  background-image: linear-gradient(180deg, #ffb7b7 0%, #727272 100%),
    radial-gradient(60.91% 100% at 50% 0%, #ffd1d1 0%, #260000 100%),
    linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
    linear-gradient(127.43deg, #00ffff 0%, #ff4444 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #00ffe0 100%),
    linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%);
  background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge,
    normal;
}
label {
  padding-top: 50px;
}
nav.navbar.navbar-expand.navbar-light {
  position: relative;
  text-align: left;
  text-align: initial;
}
button {
  margin: initial;
  padding-top: 1px;
  padding-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 40px 0 0px;
}
button.btn.btn-primary {
  background-color: initial;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: initial;
  margin: 40px 0 100px;
  background-color: #b9a074;
}
input#name.form-control {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input#email.form-control {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
textarea#message.form-control {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
label {
  color: #b9a074;
  font-weight: 900;
}
label {
  color: #b9a074;
  font-weight: 900;
}
label {
  color: #b9a074;
  font-weight: 900;
}
form#contact-form {
  background-image: initial;
  border-style: none;
  background-image: radial-gradient(
    rgba(33, 37, 41, 0.4) 0.5px,
    rgba(255, 255, 255, 0) 0.5px
  );
}
form #contact-form {
  align-items: center;
  border-style: none;
  box-sizing: border-box;
  color: #212529;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: flex-end;
  line-height: 24px;
  text-align: left;
  background-size: 10px 10px;
}
input.form-control {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form {
  background-image: initial;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
input.form-control {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
a.nav-link.active {
  background-color: initial;
  color: #6e5d44;
  border-color: rgba(100, 74, 51, 1);
}
div.modal-body {
  background-image: radial-gradient(
      100% 100% at 50% 0%,
      #ad00ff 0%,
      #00ffe0 100%
    ),
    radial-gradient(100% 100% at 50% 0%, #00ffe0 0%, #7300a9 80%),
    linear-gradient(30deg, #7ca304 0%, #2200aa 100%);
  background-blend-mode: color-dodge, difference, normal;
}
div.modal-header {
  background-image: linear-gradient(161.15deg, #e3edfe 12.73%, #e7d9cd 72.95%);
}
<<<<<<< HEAD
=======

.profile-contain {
  background: white;
  padding: 50px 0 0 60px;
  width: 90%;
  margin: auto;
  border: 10px double white;
  outline: 8px solid rgba(66, 156, 161, 0.9);
  background: rgba(66, 156, 161, 0.9);
}

.profile-contain h1 {
  font: 2.5em Notable;
  color: rgba(252, 139, 0, 0.6);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  letter-spacing: 2px;
}

.profile-nav {
  background: white;
  width: 90%;
  margin:0 auto;
  margin-bottom: 50px;
  padding: 10px 0 20px 10px;
}
/* list above content showing individual tabs */
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

/* .react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
} */

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

/* content of tabs */
.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
>>>>>>> d9c376c1afe6ae0e49ae5e60e79b2b4c379cadf6
