
.body {
  background-image: url("./assets/img/fitness-gym-girl-nb-1920x1080.jpg");
  height: 100%;
  width:100%;
}

.jumbotron-body{
  background: silver;
  opacity: 0;
  height: 1000px;
  width: 900px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
