.wrapper {
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(66, 156, 161, 0.4)
    ),
    url("../assets/img/fitness-gym-girl-nb-1920x1080.jpg");
    height:817px;
    padding-top: 300px;
}

.jumbotron-home {  
    margin: auto;
    width: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: 10px double white;
    outline: 8px solid rgba(255,255,255,.7);
    background: rgba(255,255,255,.7);
    box-shadow: 10px 0px 90px black;    
}