header,
footer {
  background-color: #429ca1;
  padding: 10px 20px;
  width: 100%;
}

header h1,
.nav-link {
  text-decoration: none;
  color: #c4b3a5 !important;
  font: 2em Notable;
  letter-spacing: 2px;
}

footer h1,
h2,
footer a {
  color: #c4b3a5;
  font-size: 1em;
}

.nav-link {
  font-size: 1em;
}

header a:hover,
header h1:hover {
  text-decoration: none;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
